show-warnings               no
show-errors                 0
doctype                     omit
indent                      yes
indent-spaces               2
input-encoding              UTF-8
output-encoding             ASCII
ncr                         yes
force-output                yes
wrap                        200
error-file                  /dev/null
output-xhtml                yes
